---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-white bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/ixy5ukf.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="float-left"><img src="/gottagivetransparent.png" width="200" class="float-left" /><div class="-ml-4"><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="cuzinvin8" data-color="#5F7FFF" data-emoji="ðŸ‘‰ðŸ¼"  data-font="Lato" data-text="You gotta give!" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></div></div>
	</body>
</html>