---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-white bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/ixy5ukf.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="float-left pl-5 pt-5"><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="cuzinvin8" data-color="#5F7FFF" data-emoji="ðŸ‘‰ðŸ¼"  data-font="Lato" data-text="You gotta give!" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></div>
	</body>

	<script>
	//api call
	async function getResponse(search: string, sketch: string) {
		let qq = `*[quote match '*${search}*']`;
		const uri = 'https://7lpknm4h.apicdn.sanity.io/v2021-03-25//data/query/production?query='+qq;
		const encoded = encodeURI(uri);
		const response = await fetch(
			encoded,
			{
				method: 'GET'
			}
		);
		const data = await response.json(); // Extracting data as a JSON Object from the response
		return data;
	}
	
	// create a variable to store the timeout
	let timeout: number | undefined = undefined;
	
	// add an event listener to the textbox to detect when the user stops typing
	let st = (document.getElementById('searchTextbox') as HTMLInputElement);
	console.log(st);
	if(st !== null){
		st.addEventListener('keyup', function() {
		// clear the timeout if it is already set
			clearTimeout(timeout);
	
			// set the timeout to call the searchJson() function after 300 milliseconds
			timeout = setTimeout(function() {
				console.log(st.value);
				console.log(getResponse(st.value, ''));
			}, 300);
		});
	}
	</script>
</html>