---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-white bg-black overflow-x-hidden">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-NPX9LYBV7S"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-NPX9LYBV7S');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://use.typekit.net/ixy5ukf.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Database of 'I Think You Should Leave' quotes with screenshots, season and episode info, and sketch names. Search by text or by sketch. Save shareable memes.">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://ithinkyoushouldquote.me">
		<meta property="og:type" content="website">
		<meta property="og:title" content="I Think You Should Leave Quote Database">
		<meta property="og:description" content="Database of 'I Think You Should Leave' quotes with screenshots, season and episode info, and sketch names. Search by text or by sketch. Save shareable memes.">
		<meta property="og:image" content="https://ithinkyoushouldquote.me/itysqopengraph.jpg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="ithinkyoushouldquote.me">
		<meta property="twitter:url" content="https://ithinkyoushouldquote.me">
		<meta name="twitter:title" content="I Think You Should Leave Quote Database">
		<meta name="twitter:description" content="Database of 'I Think You Should Leave' quotes with screenshots, season and episode info, and sketch names. Search by text or by sketch. Save shareable memes.">
		<meta name="twitter:image" content="https://ithinkyoushouldquote.me/itysqopengraph.jpg">
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="text-center pt-6 text-lg mt-6" style="border-top:1px solid #333;"><div class="pb-3"><a href="/about/" class="text-slate-300 hover:text-amber-300 ease-in duration-200 font-serif">About</a></div><div><a href="mailto:vincodings@gmail.com" class="text-slate-300 hover:text-amber-300 ease-in duration-200 font-serif"><span class="text-sm">Missing a quote? Corrections? Requests?</span><br />Email me.</a></div></div>
		<div>
			<div class="float-left"><a href="http://buymeacoffee.com/ityslquotedb" target="_blank"><img src="/gottagivetransparent.png" alt="you gotta give" width="200" class="float-left" /></a><div class="-ml-4"><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ityslquotedb" data-color="#5F7FFF" data-emoji="ðŸ‘‰ðŸ¼"  data-font="Lato" data-text="You gotta give!" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></div></div>
		</div>
		<div id="msgHolder" class="top-1/3 right-0 left-0 fixed mx-auto text-center z-50" style="margin-top:-9000px;"><div id="clipboardText" class="cbText text-center mx-auto p-3 border-2 font-serif border-gray-800 bg-amber-300 text-gray-800 rounded max-w-xs ease-in duration-300 opacity-0">Quote Copied to Clipboard</div></div>
		</body>
</html>