---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | I Think You Should Leave Quote Database">
	<main>
		<a href="https://ithinkyoushouldquote.me"><h1 class="font-serif text-center text-4xl pt-5">I Think You Should Quote</h1></a>
		<h2 class="font-serif text-center text-lg pb-10">I Think You Should Leave Quote Database</h2>
		<div class="mx-auto max-w-4xl w-full px-5">
			<p class="pb-7">This site was made for fun to practice using Astro and Sanity.</p>
			
			<p class="pb-7">I love the show "I Think You Should Leave" and find myself quoting it all the time, so I wanted to make this to give myself a way to make sure I was getting my quotes correct and to practice some development skills at the same time. This site is in no way affiliated with Tim Robinson, Netflix, or the show "I Think You Should Leave".</p>
			
			<p class="pb-7">I am <a class="hover:text-amber-300 ease-in duration-200 underline" href="https://vincentstout.com" target="_blank">Vincent Stout</a> and you can follow me on Twitter @VincentStout. </p>
				
			<p class="pb-7">While you are here, I saw this video the other day that you should check out. It's called <a class="hover:text-amber-300 ease-in duration-200 underline" href="https://youtu.be/H-3YrkLZU44" target="_blank">"Bozo Dubbed Over"</a>. Have you seen it? It's hilarious.</p>
		</div>
	</main>
</Layout>